/* Anchor: Remove o CSS padrão do navegador */
a {
  color: inherit;
  text-decoration: none;
}

/* MUI-DATAGRID: Remove borda quando seleciona o elemento. */
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

/* MUI-DATAGRID: Remove borda quando seleciona o elemento. */
.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}
